table{
   margin-left: 650px;
    border-collapse:  separate;
   text-align: center;
    box-shadow: 0 0 20px #250;
    border-style: solid;
}

tr{
    
   
    border: 50px;
    box-shadow: 0 0 20px #250;
    border-style: solid;
}

body{
    
    background-image: url("../imagen/s.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    text-align: center;
    margin-top:300px;
    
}


.b{
    margin-top: 9px;
    font-size: 20px;
  color: #020202;
    background-color: #E38b75;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    
}

.b1{
    margin-top: 9px;
    font-size: 20px;
  color: #020202;
    background-color: #E38b75;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2019, 01:52:36 PM
    Author     : asus
*/

