/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2019, 04:28:31 AM
    Author     : asus
*/

.conteiner{
     display: block;
     text-align: center;
     margin-top: 170px;
     border-style:outset;
     border-color: #eca1a6;
     width: 800px;
     height: 400px;
     border-top-right-radius: 60px;
     margin-left: 499px;
     border-radius: 50px;
     background: #f0efef;
     box-shadow: 30px 30px 30px #E38b75;
   
 
}

.r{
    margin-top: 9px;
    font-size: 20px;
  color: #020202;
    background-color: #E38b75;
    height: 50px;
    border-radius: 30px;
}

body{
    
    background-image: url("../imagen/s.jpg");
    background-repeat: no-repeat;
    background-position: center;
}